p 1.1 Điều kiện để tham gia chương trình là gì?
  br
  | - Chủ công trình (hoặc người được chủ công trình ủy quyền) mua và sử dụng 200 bao xi măng Supreme Power trở lên cho một công trình
p 1.2 Tôi mua xi măng Supreme Power cho nhiều công trình có được tham gia không?
  br
  | - Mỗi công trình chỉ được trúng một giải thưởng, và phải sử dụng từ 200 bao xi măng Supreme Power trở lên mới được tham gia bốc thăm trúng thưởng
  br
  | - Không được cộng dồn số lượng bao Supreme Power từ nhiều công trình để lấy Mã May Mắn
  br
  | - Trong trường hợp mua xi măng Supreme Power cho nhiều công trình, thì công trình nào trên 200 bao xi măng Supreme Power sẽ được tham gia chương trình, thông tin công trình sẽ phải được ghi rõ trên Hóa Đơn Bán Lẻ được xuất bởi Cửa hàng Vật Liệu Xây Dựng
p 1.3 Tôi mua xi măng Supreme Power cho một công trình nhưng mua từ nhiều Cửa hàng VLXD có được không?
  br
  | - Được, sử dụng cho một công trình thì có thể mua từ nhiều Cửa hàng vẫn được tham gia. Nhưng phải có đủ Hóa Đơn Bán Lẻ từ các Cửa hàng VLXD.
p 1.4 Tôi có phải giữ lại Hóa Đơn Bán Lẻ từ Cửa hàng CLXD không?
  br
  | - Phải giữ lại Hóa Đơn Bán Lẻ được xuất từ Cửa hàng VLXD, khi trúng thưởng cần có Hóa Đơn Bán Lẻ để nhận thưởng
  br
  | - Lưu ý khi mua xi măng, cần yêu cầu Người Bán Hàng của Cửa hàng VLXD ghi đúng thông tin Người Mua, Địa chỉ công trình, Tên loại xi măng Supreme Power và Số lượng xi măng Supreme Power
p 1.5 Tôi có được chia nhỏ số xi măng để nhận được 2 hoặc 3 Mã Số May Mắn không?
  br
  | - Không được. Mỗi công trình chỉ được nhận 1 Mã May Mắn và trúng 1 giải thưởng
p 1.6 Nếu tôi trúng Giải Đặc Biệt thì số tiền thưởng tôi nhận được là bao nhiêu?
  br
  | - Cách tính số tiền thưởng của Giải Đặc biệt:
  br
  | Số tiền thưởng = Số bao xi măng Supreme Power	x	Giá bán lẻ xi măng Supreme Power
  br
  | Trong đó:
  br
  | -  Số tiền thưởng: Số tiền thưởng Giải đặc biệt không vượt quá 40.000.000 đồng / công trình. Thuế thu nhập cá nhân của người trúng thưởng sẽ được khấu trừ trực tiếp vào Số tiền thưởng.
  br
  | -  Số bao xi măng Supreme Power: được xác định bằng hóa đơn bán lẻ của Cửa hàng vật liệu xây dựng xuất cho chủ công trình (hoặc người được chủ công trình ủy quyền), chỉ tính số bao xi măng Supreme Power sử dụng cho một công trình, không được gom nhiều công trình lại với nhau
  br
  | -  Giá bán lẻ xi măng Supreme Power: được xác định bằng hóa đơn bán lẻ của Cửa hàng vật liệu xây dựng xuất cho chủ công trình (hoặc người được chủ công trình ủy quyền)
p 1.7 Làm cách nào để tôi nhận thưởng?
  br
  | - Khi có kết quả bốc thăm trúng thưởng, Fico-YTL sẽ thông báo cho Người Trúng Thưởng qua điện thoại trong vòng 7 ngày và sẽ trao thưởng trong vòng 90 ngày kể từ ngày bốc thăm trúng thưởng bằng cách trao thưởng trực tiếp hoặc gửi qua bưu điện
  br
  | - Kết quả bốc thăm cũng sẽ được công bố trên Website: mienphiximang.fico-ytl.com và Facebook Fanpage Xi Măng Fico-YTL
p 1.8 Nếu tôi không trúng thưởng đợt 1 thì có được tham dự đợt tiếp theo không?
  br
  | - Được. Người tham gia nếu không trúng cả 2 giải trong lần bốc thăm thứ nhất hoặc lần bốc thăm thứ hai, có thể tiếp tục tham gia lần bốc thăm kế tiếp.
 
p 1.9 Tôi đã đăng ký tài khoản trên website nhưng số lượng bao xi măng Supreme Power hiện chưa đủ 200 bao, sắp tới tôi sẽ mua tiếp, vậy tôi có cần phải đăng ký lại không?
  br
  | - Không cần phải đăng ký lại, Khách hàng có thể đăng nhập tài khoản đã đăng ký lần trước. Sau đó cập nhật lại số bao xi măng Supreme Power, nếu trên 200 bao, Khách hàng có thể nhận Mã May Mắn
p 1.10 Tôi đã nhấn nút “Nhận Mã May Mắn”, làm sao tôi có thể lưu lại?
  br
  | - Hệ thống sẽ tự lưu lại. Khách hàng có thể truy cập lại Website: mienphiximang.fico-ytl.com, đăng nhập tài khoản để xem lại Mã May Mắn
  br
  | - Hoặc Khách hàng có thể tự mình lưu lại Mã May Mắn trong điện thoại hay sổ tay
  br
  | - Hoặc Khách hàng có thể chụp lại màn hình điện thoại hay máy vi tính