#modalSignIn.thp-modal
  .thp-modal__instance
    .thp-modal__body
      form.form(method='POST',action='',data-thp-validation='')
        .form-group
          label Số điện thoại
            sup *
          input.input-phone.form-control(type="tel", placeholder="Số điện thoại", required, data-error-require="Bắt buộc")
        .form-group
          label Mật khẩu
            sup *
          input.input-password.form-control(type="password", placeholder="Mật khẩu", required, data-error-require="Bắt buộc")
        .form-group.form-cmd
          button#btnSignIn.btn.btn-secondary(title='Đăng nhập') Đăng nhập
          hr
        .form-group.form-cmd
          button.btn.btn-ico--text.btn-facebook(title='Đăng nhập với Facebook')
            span.fa.fa-facebook
            span Đăng nhập với Facebook
        .form-group.form-cmd
          button.btn.btn-ico--text.btn-google(title='Đăng nhập với Google')
            span.fa.fa-google
            span Đăng nhập với Google
        .form-group.form-cmd
          button.btn.btn-ico--text.btn-zalo(title='Đăng nhập với Zalo')
            span.fa.fa-zalo
            span Đăng nhập với Zalo