ol 
  li 
   p 
    b Tên chương trình khuyến mại:
    br
    | Miễn Phí Xi Măng, Xây Nhà Bền Chắc 
  li
    p  
     b Hàng hóa, dịch vụ khuyến mại:
     br
     | Xi măng Supreme Power đóng bao 50 kilogram 
  li
    p  
     b Thời gian khuyến mại:
     br
     | Từ ngày 09/03/2020 đến ngày 07/06/2020 
  li
    p  
     b Địa bàn (phạm vi) khuyến mại:
     br
     | tỉnh Tây Ninh, Bình Phước, Đăk Nông, Lâm Đồng, Bình Dương, Đồng Nai, Bà Rịa – Vũng Tàu, Thành phố Hồ Chí Minh, Long An, Tiền Giang, Bến Tre, An Giang, Đồng Tháp, Vĩnh Long, Sóc Trăng, Bạc Liêu, Cà Mau
  li
    p  
     b Hình thức khuyến mại:
     br
     | Rút thăm may mắn xác định trúng thưởng 
  li
    p  
     b Khách hàng của chương trình khuyến mại:
     br
     | Người tiêu dùng là chủ công trình (hoặc người được chủ công trình ủy quyền) khi mua từ 200 bao Xi măng Supreme Power trở lên tại các cửa hàng vật liệu xây dựng trong địa bàn khuyến mại.     
     br
     br
     | Chương trình khuyến mại không áp dụng cho nhân viên của doanh nghiệp, các đại lý, nhà phân phối, các cửa hàng bán lẻ, nhà quảng cáo, in ấn phục vụ chương trình khuyến mại, vị thành niên, trẻ em...
  li
    p  
     b Cơ cấu giải thưởng:
     br
     | - 21 Giải Đặc biệt: Tiền mặt tương đương chi phí xi măng Supreme Power trong hóa đơn mua hàng tại Cửa hàng Vật liệu xây dựng, Tối đa 40.000.000/công trình, Thuế thu nhập cá nhân được khấu trừ vào tiền thưởng
     br
     br
     | - 120 Giải Phụ: Bộ ấm trà Bát Tràng
  li
    p  
     b Nội dung chi tiết thể lệ chương trình khuyến mại:
    ol
      li
        p Điều kiện, cách thức, thủ tục cụ thể khách hàng phải thực hiện để được tham gia chương trình khuyến mại:  
          br
          br
          | - Khi người tiêu dùng là chủ công trình (hoặc người được chủ công trình ủy quyền) mua và sử dụng từ 200 bao xi măng Supreme Power trở lên cho một công trình thì khách hàng sẽ được nhận 1 mã dự thưởng bốc thăm may mắn. 
          br
          br
          | - Cách lấy mã dự thưởng: Sau khi mua hàng, khách hàng truy cập vào website &nbsp;
          a(href='//mienphiximang.fico-ytl.com' title='mienphiximang.fico-ytl.com' style='color:white; text-decoration-line: underline;') https://mienphiximang.fico-ytl.com
          | , đăng ký thông tin cá nhân, thông tin cửa hàng vật liệu xây dựng đã mua, số lượng bao xi măng Supreme Power đã sử dụng. Hệ thống ghi nhận đủ số lượng bao Supreme Power trên 200 bao sẽ trả lại cho khách hàng 1 mã dự thưởng. Mỗi khách hàng chỉ được nhận 01 mã dự thưởng duy nhất để tham gia chương trình.
          br
          br
          | - -	Sẽ có 2 đợt bốc thăm được tổ chức livestream trực tuyến trên mạng xã hội vào tháng 5, tháng 6 năm 2020
          br
          br
          | - Các mã dự thưởng phát sinh ở đợt nào sẽ được tham gia đợt khuyến mại đó, cụ thể:
          br
          br
          | + Đợt 1: Các khách hàng được cấp mã dự thưởng từ ngày 09/03/2020 đến ngày 08/05/2020 (Nếu không trúng tiếp tục tham dự đợt 2) – chọn ra 14 giải đặc biệt, 80 giải phụ
          br
          | + Đợt 2: Các khách hàng được cấp mã dự thưởng từ ngày 09/05/2020 đến ngày 07/06/2020 – chọn ra 7 giải đặc biệt, 40 giải phụ
          br
          br
          | - Mã dự thưởng đã trúng thưởng thì sẽ không được tiếp tục tham gia lần bốc thăm kế tiếp
          br
          br
          | - Chương trình chỉ áp dụng cho Khách hàng sử dụng trên 200 bao xi măng Supreme Power cho một công trình. Khách hàng không được gom số lượng bao xi măng Supreme Power của nhiều công trình lại với nhau.
          br
          br
          | - Khách phải giữ lại HÓA ĐƠN BÁN LẺ được xuất bởi Cửa hàng Vật Liệu Xây Dựng
          br
          br
          | - Một công trình chỉ có một người được tham gia và trúng một giải thưởng
          br
          br
          | - Trong trường hợp phát hiện thông tin đăng ký không chính xác, Fico-YTL có quyền hủy kết quả trúng thưởng
          br
          br
          | - Người trúng giải là người:
        ol(type='a')
          li Chủ công trình hoặc người được chủ công trình ủy quyền có giấy ủy quyền
          li Có thông tin mã dự thưởng trùng với kết quả bốc thăm bao gồm: họ và tên, địa chỉ công trình, số điện thoại, số chứng minh nhân dân và mã số may mắn
          li Đã sử dụng từ 200 bao xi măng Supreme Power trở lên, xác nhận bằng hóa đơn bán lẻ do cửa hàng vật liệu xuất
          li Thời gian mua hàng và địa chỉ công trình trên hóa đơn nằm trong thời gian và địa điểm diễn ra chương trình
          li Người trúng giải không phải là cho nhân viên của doanh nghiệp, các đại lý, nhà phân phối, các cửa hàng bán lẻ, nhà quảng cáo, in ấn phục vụ chương trình khuyến mại, vị thành niên, trẻ em...
          br
          br
      li
        p Thời gian, cách thức phát hành bằng chứng xác định trúng thưởng
          br
          br
          | - Trường hợp phát hành không kèm theo hàng hóa: Khách hàng truy cập vào website&nbsp;
          a(href='//mienphiximang.fico-ytl.com' title='mienphiximang.fico-ytl.com' style='color:white; text-decoration-line: underline;') https://mienphiximang.fico-ytl.com
          | , đăng ký thông tin cá nhân, thông tin cửa hàng vật liệu xây dựng đã mua, số lượng bao xi măng Supreme Power đã sử dụng. Hệ thống ghi nhận đủ số lượng bao Supreme Power trên 200 bao sẽ trả lại cho khách hàng 1 mã dự thưởng.
          br
          br
          | - Ngay khi khách hàng đăng ký thông tin thành công trên website, khách hàng sẽ được hệ thống thông báo trên giao diện màn hình website với nội dung: “Mã số may mắn của bạn là xxxx”
          br
          br
          | - Thời gian để khách hàng truy cập vào website để nhận mã dự thưởng: Từ ngày 09/03/2020 đến ngày 07/06/2020.
      li
        p Quy định về bằng chứng xác định trúng thưởng
          br
          br
          | - Mô tả cụ thể về bằng chứng xác định trúng thưởng và tính hợp lệ của bằng chứng xác  định trúng thưởng: Bằng chứng xác định trúng thưởng là mã dự thưởng gắn liền với tài khoản thông tin cá nhân của khách hàng đăng ký qua website&nbsp;
          a(href='//mienphiximang.fico-ytl.com' title='mienphiximang.fico-ytl.com' style='color:white; text-decoration-line: underline;') https://mienphiximang.fico-ytl.com
          | .
          br
          br
          | - Thông tin khách hàng và mã dự thưởng được Hệ thống lưu trữ và tự động xác định người trúng thưởng.
          br
          br
          | - Mã dự thưởng gồm 4 chữ số
      li
        p Thời gian, địa điểm và cách thức xác định trúng thưởng:
          br
          br
          | - Thời gian xác định trúng thưởng: 2 đợt quay số vào lúc 20h00 các ngày:
          br
          | + Đợt 1: Ngày 14/05/2020
          br
          | + Đợt 2: Ngày 15/06/2020 
          br
          br
          | - Địa điểm xác định trúng thưởng: livestream tại Văn Phòng Fico-YTL, Tầng 26, Tòa nhà Etown Central, 11 Đoàn Văn Bơ, Phường 12, Quận 4, TPHCM
          br
          br
          | - Cách thức xác định trúng thưởng: quay số bằng hệ thống điện tử, được tổ chức livestream trực tuyến trên Fanpage Facebook Fico-YTL: &nbsp;
          a(href='https://www.facebook.com/ficoytl/' title='https://www.facebook.com/ficoytl/' style='color:white; text-decoration-line: underline;') https://www.facebook.com/ficoytl/
          br
          br
          | - Buổi quay số được tổ chức dưới sự chứng kiến của đại diện Công ty và đại diện khách hàng tham gia chương trình khuyến mại. Kết quả quay số được lập thành biên bản với sự xác nhận của các bên chứng kiến.
      li
        p Thông báo trúng thưởng:
          br
          br
          | - TCông ty sẽ trực tiếp thông báo trúng thưởng cho khách hàng qua điện thoại (gọi điện thoại cho khách hàng) và công bố trên Fanpage Facebook của Fico-YTL trong vòng 7 ngày từ ngày quay số.
      li
        p Thời gian địa điểm, cách thức và thủ tục trao thưởng
          br
          br
          | - Địa điểm trao thưởng: tại địa điểm công trình khách hàng đã đăng ký khi tham gia chương trình hoặc tại địa điểm được chỉ định của công ty Fico-YTL hoặc thông qua đường bưu điện theo yêu cầu của khách hàng trúng thưởng khi Công ty liên hệ thông báo trúng thưởng. Chi phí chuyển phát giải thưởng do Công ty Cổ phần Xi Măng Fico Tây Ninh chịu
          br
          br
          | - Cách thức trao thưởng: đại diện của CÔNG TY CỔ PHẦN XI MĂNG FICO TÂY NINH trực tiếp trao thưởng tại địa điểm trao thưởng hoặc gửi qua đường bưu điện.
          br
          br
          | - Thủ tục trao thưởng: Khách hàng khi nhận thưởng cần xuất trình Giấy Chứng minh nhân dân, Hóa Đơn Bán Hàng do Cửa hàng VLXD xuất và ký vào biên bản nhận thưởng do Công ty cung cấp.
          br
          br
          | - Thời hạn kết thúc trao thưởng: CÔNG TY CỔ PHẦN XI MĂNG FICO TÂY NINH có trách nhiệm trao thưởng cho khách hàng trong vòng 45 ngày kể từ ngày kết thúc thời gian khuyến mại.
          br
          br
          | - Trách nhiệm của khách hàng trúng thưởng đối với chi phí phát sinh khi nhận thưởng, thuế thu nhập không thường xuyên: Khách hàng tự chi trả hoặc có thể ủy quyền cho Công ty chi trả.
  li
     p 
      b Đầu mối giải đáp thắc mắc cho khách hàng về các vấn đề liên quan đến chương trình khuyến mại:
      br
      br
      | Nhân viên tiếp thị - Số điện thoại (028) 38 212 872
  li
     p 
      b Trách nhiệm công bố thông tin:
      br
      br
      | - Quy định về trách nhiệm của thương nhân trong việc thông báo công khai chi tiết nội dung của thể lệ chương trình khuyến mại: Chi tiết nội dung của thể lệ chương trình khuyến mại sẽ được công bố trên website:&nbsp;
      a(href='//mienphiximang.fico-ytl.com' title='mienphiximang.fico-ytl.com' style='color:white; text-decoration-line: underline;') https://mienphiximang.fico-ytl.com
      | ; &nbsp;
      a(href='//fico-ytl.com' title='fico-ytl.com' style='color:white; text-decoration-line: underline;') https://fico-ytl.com
      | , trang Fanpage facebook Fico-YTL&nbsp;
      a(href='https://www.facebook.com/ficoytl/' title='https://www.facebook.com/ficoytl/' style='color:white; text-decoration-line: underline;') https://www.facebook.com/ficoytl/
      | ,  tờ rơi tại các cửa hàng vật liệu xây dựng có bán xi măng Supreme Power.
      br
      br
      | - Quy định về trách nhiệm của thương nhân trong việc công bố kết quả trúng thưởng: Kết quả trúng thưởng được công bố trên website mienphiximang.fico-ytl.com; fico-ytl.com và trang Fanpage facebook Fico-YTL  &nbsp;
      a(href='https://www.facebook.com/ficoytl/' title='https://www.facebook.com/ficoytl/' style='color:white; text-decoration-line: underline;') https://www.facebook.com/ficoytl/
      | và tại các địa điểm triển khai chương trình.
  li
     p 
      b Các quy định khác (nếu có):
      br
      br
      | - CÔNG TY CỔ PHẦN XI MĂNG FICO TÂY NINH hoàn toàn chịu trách nhiệm trong việc quản lý tính chính xác của bằng chứng xác định trúng thưởng và việc đưa bằng chứng xác định trúng thưởng vào lưu thông trong chương trình khuyến mại. Việc tổ chức chương trình khuyến mại phải đảm bảo tính ngẫu nhiên, khách quan và công khai.
      br
      br
      | -     Nếu được khách hàng trúng thưởng đồng ý, CÔNG TY CỔ PHẦN XI MĂNG FICO TÂY NINH sẽ sử dụng tên và hình ảnh của khách hàng đó vào các hoạt động quảng cáo, truyền thông của công ty.
      br
      br
      | -     Sau khi kết thúc chương trình khuyến mại, CÔNG TY CỔ PHẦN XI MĂNG FICO TÂY NINH có trách nhiệm báo cáo kết quả thực hiện chương trình trên theo đúng quy định của pháp luật.  
      br
      br
      | -     Sau khi kết thúc chương trình khuyến mại, CÔNG TY CỔ PHẦN XI MĂNG FICO TÂY NINH có trách nhiệm báo cáo kết quả thực hiện chương trình trên theo đúng quy định của pháp luật.  