@font-face {
  font-family: 'SFUEurostile';
  src: url(../fonts/SFUEurostileDemiOblique.eot);
  src: url(../fonts/SFUEurostileDemiOblique.eot?#iefix) format('embedded-opentype'),
    url(../fonts/SFUEurostileDemiOblique.woff2) format('woff2'),
    url(../fonts/SFUEurostileDemiOblique.woff) format('woff'),
    url(../fonts/SFUEurostileDemiOblique.ttf) format('truetype'),
    url(../fonts/SFUEurostileDemiOblique.svg#SFUEurostileDemiOblique) format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'SFUEurostile';
  src: url(../fonts/SFUEurostileCondensed.eot);
  src: url(../fonts/SFUEurostileCondensed.eot?#iefix) format('embedded-opentype'),
    url(../fonts/SFUEurostileCondensed.woff2) format('woff2'),
    url(../fonts/SFUEurostileCondensed.woff) format('woff'),
    url(../fonts/SFUEurostileCondensed.ttf) format('truetype'),
    url(../fonts/SFUEurostileCondensed.svg#SFUEurostileCondensed) format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SFUEurostile';
  src: url(../fonts/SFUEurostile.eot);
  src: url(../fonts/SFUEurostile.eot?#iefix) format('embedded-opentype'),
    url(../fonts/SFUEurostile.woff2) format('woff2'),
    url(../fonts/SFUEurostile.woff) format('woff'),
    url(../fonts/SFUEurostile.ttf) format('truetype'),
    url(../fonts/SFUEurostile.svg#SFUEurostile) format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFUEurostile';
  src: url(../fonts/SFUEurostileDemi.eot);
  src: url(../fonts/SFUEurostileDemi.eot?#iefix) format('embedded-opentype'),
    url(../fonts/SFUEurostileDemi.woff2) format('woff2'),
    url(../fonts/SFUEurostileDemi.woff) format('woff'),
    url(../fonts/SFUEurostileDemi.ttf) format('truetype'),
    url(../fonts/SFUEurostileDemi.svg#SFUEurostileDemi) format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SFUEurostile';
  src: url(../fonts/SFUEurostileBold.eot);
  src: url(../fonts/SFUEurostileBold.eot?#iefix) format('embedded-opentype'),
    url(../fonts/SFUEurostileBold.woff2) format('woff2'),
    url(../fonts/SFUEurostileBold.woff) format('woff'),
    url(../fonts/SFUEurostileBold.ttf) format('truetype'),
    url(../fonts/SFUEurostileBold.svg#SFUEurostileBold) format('svg');
  font-weight: 700;
  font-style: normal;
}