include ../mixins/all.pug
// Footer component Start 
footer#footer
  .container
    .row.align-items-center
      .col-7
        .footer-copyright
          p Copyright @ 2020 
            br.d-md-none
            | FICO YTL. All rights reserved  
      .col-5
        nav.nav-footer
          p Theo dõi thêm
          ul
            li: a(href='https://www.facebook.com/ficoytl/',title='Fico YTL fanpage')
              span.fa.fa-facebook
            li: a(href='https://www.youtube.com/channel/UCJg0HddECu6hMZ_LuU81z_g',title='Fico YTL youtube')
              span.fa.fa-youtube-play
// Footer component End 