nav.nav-main
  ul.nav-main__menu
    li.nav-main__item
      a.nav-main__link(href='#', title='Supreme Power') Supreme Power
    li.nav-main__item
      a.nav-main__link(href='#', title='Tập đoàn Fico-YTL') Tập đoàn Fico-YTL
    li.nav-main__item
      a(href='#modalSignUp',data-thp-modal='#modalSignUp', title='Đăng ký') Đăng ký
      | &nbsp;|&nbsp;
      a(href='#modalSignIn',data-thp-modal='#modalSignIn',title='Đăng nhập') Đăng nhập